* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gm-style .gm-style-iw-c {
  border-radius: 15px;
  padding-top: 5px;
}
h2 {
  margin: 8px;
}
.box-1 {
  width: 15em;
}
.box-2 {
  width: 20em;
  min-height: 15em;
}
tr {
  margin: 10px 0px;
}
td {
  width: 50em;
}
hr {
  color: grey;
  /* width:100%; */
}
.value {
  text-align: right;
  font-weight: 600;
}
button.gm-ui-hover-effect {
  visibility: hidden;
}